<nav class="navbar navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="/">
        <img src="assets/img/health-wellness-removebg-preview.png" width="30" height="30" class="d-inline-block align-top" alt="logo">   
        </a>
    </div>
  <!-- <div class="d-none d-md-block header-btns">
      <button class="btn nav-btn" (click)="showFeature('isRecommend')">More Recommendation?</button>
      <button class="btn nav-btn" (click)="redirectTo('/help')">Need Help?</button>
      <button class="btn nav-btn" (click)="redirectTo('/contact')">Contact Us</button>
  </div>
  <div class="d-block d-md-none header-btns">
    <button class="btn nav-btn" (click)="showFeature('isRecommend')">Recommendation?</button>
    <button class="btn nav-btn" (click)="redirectTo('/help')">Help?</button>
    <button class="btn nav-btn" (click)="redirectTo('/contact')">Contact</button>
  </div> -->
  <div class=" header-btns">
    <button class="btn nav-btn" (click)="redirectTo('/profile')">Profile</button>
  </div>
  </nav>
<router-outlet></router-outlet>